.body{
   
    width: 30%;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 10px;
   justify-content: space-evenly;
}
 
.button{
    justify-content: center;
    margin-left: -80px;
       padding: 14px;
       width: 70%;
   
   }
